<hr />
<form autocomplete="off" [formGroup]="form" (ngSubmit)="guardar()">
    <div>
        <div class="form-group row">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName="nombre" [class.is-invalid]="nombreNoValido" />
                <small *ngIf="nombreNoValido" class="form-text text-danger">agregue 5 letras</small>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">proveedor</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName="proveedor" [class.is-invalid]="proveedorNoValido" />
                <small *ngIf="proveedorNoValido" class="form-text text-danger">proveedor invalido</small>
            </div>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-2 col-form-label">imagen</label>
        <div class="col-md-8">
            <input class="form-control" type="file" (change)="onFileChange($event)" placeholder="Imagen" [class.is-invalid]="fileNoValido" />
            <small *ngIf="fileNoValido" class="form-text text-danger">imagen invalida</small>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <button type="submit" class="btn btn-outline-primary">Guardar</button>
        </div>
    </div>

</form>